<div class="profile-wrap">

  <div class="profile__avatar-wrap">
    <img src="{{profileAvatar}}" class="profile__avatar" />
    <div class="profile__avatar-change-overlay">Изменить аватар</div>
  </div>
  <div class="profile__display-name">{{profileName}}</div>

  <div class="profile__rows">
    {{#each profileRows}}
      {{{this}}}
    {{/each}}
  </div>

  <div class="profile__rows">

    <div class="profile__row">
      <div class="profile__row-label"><button class="profile__edit-button" type="button">Изменить данные</button>
      </div>
    </div>

    <div class="profile__row">
      <div class="profile__row-label"><button class="profile__edit-button" type="button">Изменить пароль</button>
      </div>
    </div>

    <div class="profile__row">
      <div class="profile__row-label"><button class="profile__edit-button profile__edit-button--logout" type="button">Выйти</button></div>
    </div>

  </div>
</div>

{{{backButton}}}