@use '../../../styles/common';

.chatlist__add-chat-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--accent);
  border: none;
  color: #fff;
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 100%;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
}
