---
id: zhopa

divContent: ЖОПА!
---
<html>
    <head>
        {{!-- <script src="src/index.js" type="module"></script> --}}
    </head>
    <body>
        <div id="{{ id }}">{{ divContent }}</div>
    </body>
</html> 